<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limón Persa</title>
    <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Barra de navegación -->
<header>
    <div class="nav-container">
        <button class="nav-button"><a th:href="@{/}">Inicio</a></button>
        <button class="nav-button"><a th:href="@{/producto}">Producto</a></button>
        <button class="nav-button"><a th:href="@{/contacto}">Contacto</a></button>
    </div>
</header>

<!-- Sección principal con información destacada -->
<section class="intro">
    <h1>Ocurrió un error</h1>
    <p>Hubo un error inesperado. Por favor, inténtalo nuevamente.</p>
</section>