<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Limón Persa</title>
  <link th:href="@{/css/producto.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Barra de navegación -->
<header>
  <div class="nav-container">
    <button class="nav-button"><a th:href="@{/}">Inicio</a></button>
    <button class="nav-button"><a th:href="@{/producto}">Producto</a></button>
    <button class="nav-button"><a th:href="@{/contacto}">Contacto</a></button>
  </div>
</header>

<!-- Sección principal con información destacada -->
<section class="intro">
  <h1>Producto</h1>
  <h2>Limón Persa</h2>
  <p>El limón persa es una variedad de limón conocida por su jugosidad, sabor menos ácido y su piel gruesa. Esta fruta es ideal tanto para consumo directo como para su uso en jugos y otros productos culinarios. Se cultiva en climas cálidos y soleados, y es uno de los cítricos más apreciados por su calidad y sabor único.</p>
</section>

<!-- Características -->
<section class="content">
  <div class="block">
    <h2>Características</h2>
    <div class="Caracteristicas">
      <ul>
        <li>Alta jugosidad y sabor menos ácido</li>
        <li>Piel gruesa y resistente</li>
        <li>Ideal para jugos y aderezos</li>
        <li>Fácil de pelar y cortar</li>
        <li>Cultivado en climas cálidos</li>
        <li>Alta demanda en mercados nacionales e internacionales</li>
      </ul>
    </div>
  </div>
</section>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
