<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Producto - Limon Max</title>
  <link th:href="@{/css/producto.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Barra de navegación -->
<header>
  <div class="nav-container">
    <button class="nav-button"><a th:href="@{/}">Inicio</a></button>
    <button class="nav-button"><a th:href="@{/producto}">Producto</a></button>
    <button class="nav-button"><a th:href="@{/contacto}">Contacto</a></button>
  </div>
</header>

<!-- Sección de Producto -->
<section class="producto">
  <h1>Producto</h1>
  <div class="producto-container">
    <div class="producto-info">
      <h2>Limón Persa</h2>
      <p>
        Nunc eleifend maximus libero id lacinia. Cras lobortis aliquet orci, ut semper erat tempus at.
        Morbi eu turpis maximus, sodales enim vitae, aliquet ligula. Suspendisse finibus ante sapien,
        id aliquet est interdum ut. Nam volutpat porttitor tristique. Interdum et malesuada fames ac
        ante ipsum primis in faucibus.
      </p>
    </div>
    <div class="producto-img">
      <img th:src="@{/images/img1.jpg}" alt="Limón Persa">
    </div>
  </div>
</section>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
